.gl_canvas{
    width: 750px;
    height: 500px;
}

.button {
    padding: 4px;
    margin: 4px;
}
.cameras {
    margin: 10px;
}

.column.izq{
    float: left;
    width: 70%;
}

.column.dcha {
    float: left;
    width: 29%;
    margin-left: 1px;
}

.row {
    margin-top: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.chrono{
    padding: 8px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: .25rem;
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    font-family: monospace;
}

.container {
    margin: -1px;
}

.btn {
    cursor:pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.list-group-item {
    display: list-item;
}

.list-group{
    list-style: decimal inside;
    display: inline-block;
}